.foot {
    padding-top: 8rem;
    padding-bottom: 8rem;
    color: var(--color-secondary-text);
}

.foot-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.3rem;
}

.foot ul {
    display: inline-flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.foot-menu ul li {
    display: flex;
    align-items: center;
}

.foot-menu ul li + li::before {
    padding: 0 1.2rem;
    font-size: 0.9rem;
    line-height: 0;
    content: "•";
}

.powered-by {
    text-align: right;
}

.foot a {
    color: var(--color-secondary-text);
}

.foot a:hover {
    color: var(--color-black);
    opacity: 1;
}

@media (max-width: 767px) {
    .foot {
        padding-top: 6.4rem;
        padding-bottom: 12rem;
    }

    .foot-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .foot-menu {
        margin-top: 3.2rem;
    }

    .foot-menu .nav {
        flex-direction: column;
    }

    .foot-menu .nav li + li {
        margin-top: 0.4rem;
    }

    .foot-menu .nav li + li::before {
        display: none;
    }

    .powered-by {
        margin-top: 3.2rem;
        text-align: center;
    }
}
