<%
    page = params[:page]
%>
<% render_view "_layout", title: page.title do %>
    <section class="section">
        <article class="article">
            <header class="article-header canvas">
                <span class="article-meta">
                    By <% a page.user.name, :href => "/#{page.user.slug}" %>
                    <% if page.published_at %>
                        —
                        <% time page.published_at.strftime("%b %d, %Y"), :datetime => page.published_at.strftime("%Y-%m-%d") %>
                    <% end %>
                </span>
                
                <% if role?(:admin) %>
                    <div class="editable-area">
                        <div class="editable-area-header">
                            <% a "Edit", :class => "editable-area-button", :href => "/admin/edit_page_title?id=#{page.id}", :target => "_overlay" %>
                        </div>
                        <div class="editable-area-body">
                            <% h1 page.title, :class => "article-title" %>
                        </div>
                    </div>
                <% else %>
                    <% h1 page.title, :class => "article-title" %>
                <% end %>

            </header>

            <div class="content canvas">
                    <% if role?(:admin) %>
                        <div class="editable-area">
                            <div class="editable-area-header">
                                <% a "Edit", :class => "editable-area-button", :href => "/admin/edit_page_body?id=#{page.id}", :target => "_overlay" %>
                            </div>
                            <div class="editable-area-body content canvas">
                                <% render_markdown(page.body) %>
                            </div>
                        </div>

                        <div class="editable-area">
                            <div class="editable-area-header">
                                <% a "Edit", :class => "editable-area-button", :href => "/admin/edit_page_meta?id=#{page.id}", :target => "_overlay" %>
                            </div>
                            <div class="editable-area-body">
                                <section class="section">
                                    <h3 class="section-title">Meta</h3>
                                    <p><b>Slug:</b> <%= page.slug %></p>
                                    <p><b>Published:</b> <%= page.published ? 'true' : 'false' %></p>
                                </section>
                            </div>
                        </div>

                        <section class="section">
                            <h3 class="section-title">Danger area</h3>
                            <p>
                                <% 
                                    button "Delete this Page", {
                                        :class => "button is-primary",
                                        "data-component" => "pinstripe-anchor",
                                        "data-method" => "post",
                                        "data-href" => "/admin/delete_page?id=#{page.id}",
                                        "data-target" => "_overlay",
                                        "data-confirm" => "Are you really sure you want to delete this page?"
                                    }
                                %>
                            </p>
                        </section>
                    <% else %>
                        <% render_markdown(page.body) %>
                    <% end %>
                </div>
        </article>
    </section>
<% end %>
