<%
    user = params[:user]

    posts = user.posts
    if signed_in?
        posts = posts.order_by(:published, :asc)
    else
        posts = posts.published_eq(true)
    end
    posts = posts.order_by(:published_at, :desc)

    page_size = params[:page_size] ? params[:page_size].to_i : 10;
    
    posts = posts.paginate(1, page_size);
%>
<% render_view "_layout", title: user.name do %>
    <section class="section">
        <% h2 "Latest posts by \"#{user.name}\"", :class => "section-title" %>

        <div class="feed">
            <% render_view '_posts', posts: posts %>
        </div>

        <% if posts.count == 0 %>
            Additional posts will be published soon.
        <% end %>

        <% if posts.all.count < posts.count %>
            <% button "Load more posts",  :class => "feed-loadmore btn", "data-decorator" => "pinstripe-anchor", "data-method" => "post", "data-href" => "?page_size=#{page_size + 10}" %>
        <% end %>

    </section>
<% end %>
